{% extends 'base.html.twig' %}

{% block title %}HomePage{% endblock %}

{% block body %}

<h1>Bibliothèque musicale</h1>

<table>
    <thead>
        <tr>
            <th>Nom</th>
            <th>Groupe</th>
            <th>Album</th>
            <th>Genre</th>
            <th>Durée</th>
        </tr>
    </thead>
    <tbody>
        {% for song in songs %}
            <tr>
                <td>{{ song.name }}</td>
                <td><a href="{{path('artists',{ id: song.album.artist.id })}}">{{ song.album.artist.name }}</a></td>
                <td><a href="{{path('albums',{ id: song.album.id })}}">{{ song.album.name }}</a></td>
                <td><a href="{{path('genres',{ id: song.album.artist.genre.id })}}">{{ song.album.artist.genre.name }}</a></td>
                <td>{% set minutes = song.lengthSecond // 60 %}
                    {% set seconds = song.lengthSecond % 60 %}
                    {{ minutes }}m {{ seconds }}s</td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">Aucune chanson trouvée.</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
