{% extends 'base.html.twig' %}

{% block title %}Artist Page{% endblock %}

{% block body %}

<hgroup>
    <h2>{{artist.name}}</h2>
    <p>Nombre albums :{{artist.albums|length}}</p>
    
    
</hgroup>

    <p>{{artist.description}}</p>
    <p>{{artist.memberNumber}} membres dans ce groupe</p>
    <h3>{{artist.genre.name}}</h3>



{% endblock %}
