{% extends 'base.html.twig' %}

{% block title %}Artist Page{% endblock %}

{% block body %}

<div class="entity-container">
<hgroup>
    <h2>{{artist.name}}</h2>
    <p>Nombre albums :{{artist.albums|length}}</p>
    
    
</hgroup>

    <p>{{artist.description}}</p>
    <p>{{artist.memberNumber}} membres dans ce groupe</p>
    <h3><a href="{{path('genres',{id : artist.genre.id})}}">{{artist.genre.name}}</a></h3>

</div>



{% endblock %}
